<script>
	function toggle_font_awesome_selections() { var x = document.getElementById('font_awesome_selections');	if (x.style.display === 'none') { x.style.display = 'block'; } else { x.style.display = 'none'; } }
	function toggle_pb_font_awesome_selections() { var x = document.getElementById('font_awesome_selections');	if (x.style.display === 'none') { x.style.display = 'block'; } else { x.style.display = 'none'; } }
	function toggle_ab_font_awesome_selections() { var x = document.getElementById('font_awesome_selections'); if (x.style.display === 'none') { x.style.display = 'block'; } else { x.style.display = 'none'; } }
</script>
