{% if U_USE_FONT_AWESOME_BBCODE && S_BBCODE_ALLOWED %}
	<button type="button" class="button button-icon-only" name="font_awesome" value="&#160;" title="{{ lang('FONT_AWESOME_HELP') }}
{{ lang('FONT_AWESOME_ICONS') }}{{ lang('COLON') }} {{ FONTAWESOME_VALUE }} &bull; {{ lang('FONT_AWESOME_POPUP') }}{{ lang('COLON') }} {{ FONTAWESOME_WIDTH }}{{ lang('FONTAWESOME_PX') }} &times; {{ FONTAWESOME_HEIGHT }}{{ lang('FONTAWESOME_PX') }}">
	<a href="{{ U_FONTAWESOME }}" onclick="popup_iconcenter(this.href, {{ FONTAWESOME_WIDTH }}, {{ FONTAWESOME_HEIGHT }}, '_fontawesome'); return false;">
		<i class="icon fa-flag fa-fw awesome_icon" aria-hidden="true"></i></a>
	</button>
{% endif %}
